.container {
  max-width: 1200px;
}

header {
  margin: 10px;
}

.input-area {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

input {
  padding: 5px 10px;
  margin-right: 5px;
}

.incomplete-area {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
}

.progression-area {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
}

.complete-area {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
}

.list {
  display: flex;
}

.list button {
  margin-left: 5px;
}
